<html>
  <head>
    <title>Flapper News</title>
    <link type="text/css" rel="stylesheet" href="css/angular-flash.min.css" />
    // If you are using bootstrap v3 no need to include angular-flash.css
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="angular-flash.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <style>
      .glyphicon-thumbs-up {
        cursor: pointer
      }
    </style>
  </head>
  <body ng-app="flapperNews">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div ng-include="'nav/_nav.html'"></div>
        <ui-view></ui-view>
      </div>
    </div>
  </body>
</html>